nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 800px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

li a {
  display: flex;
  padding: 16px 16px;
  text-decoration: none;
  transition: 0.4s;
  border-radius: 50%;
  color: rgb(42, 212, 156);
  text-align: center;
  font-size: 18px;
}
h1 {
  font-size: 30px;
}
li a:hover,
.father:hover .children {
  background: rgb(13, 46, 33);
  color: rgb(14, 255, 175);
  font-size: 19px;
  font-weight: 500;
}

.father {
  position: relative;
}
.dropdown {
  display: none;
}
.father:hover .dropdown {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
}
